<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>S_Registro</servlet-name>
        <servlet-class>servlets.S_Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_Login</servlet-name>
        <servlet-class>servlets.S_Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_SugiereUsuarios</servlet-name>
        <servlet-class>servlets.S_SugiereUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_SeguirUsuario</servlet-name>
        <servlet-class>servlets.S_SeguirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_ObtenQuienesSigo</servlet-name>
        <servlet-class>servlets.S_ObtenQuienesSigo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_DejaDeSeguir</servlet-name>
        <servlet-class>servlets.S_DejaDeSeguir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_ObtenQuienesMeSiguen</servlet-name>
        <servlet-class>servlets.S_ObtenQuienesMeSiguen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_NuevoChirrup</servlet-name>
        <servlet-class>servlets.S_NuevoChirrup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>S_LeeChirrups</servlet-name>
        <servlet-class>servlets.S_LeeChirrups</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S_Registro</servlet-name>
        <url-pattern>/S_Registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_Login</servlet-name>
        <url-pattern>/S_Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_SugiereUsuarios</servlet-name>
        <url-pattern>/S_SugiereUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_SeguirUsuario</servlet-name>
        <url-pattern>/S_SeguirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_ObtenQuienesSigo</servlet-name>
        <url-pattern>/S_ObtenQuienesSigo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_DejaDeSeguir</servlet-name>
        <url-pattern>/S_DejaDeSeguir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_ObtenQuienesMeSiguen</servlet-name>
        <url-pattern>/S_ObtenQuienesMeSiguen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_NuevoChirrup</servlet-name>
        <url-pattern>/S_NuevoChirrup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>S_LeeChirrups</servlet-name>
        <url-pattern>/S_LeeChirrups</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
